@media (max-width: 767.98px) {
  .small-text-on-mobile {
    font-size: 0.875rem;
  }
  
  .display-4 {
    font-size: 1.75rem;
  }
  
  .navbar-collapse {
    max-height: 80vh;
    overflow-y: auto;
  }
}
